.cripto {
    border: 1px solid #2fc6c3;
    border-radius: 5px;
    border-left: 10px solid #2fc6c3;
    padding: 1rem;
}

.info {
    color: rgb(191, 191, 191)
}

.label {
    color: #2fc6c3;
}

.positivo {
    color: greenyellow;
}

.negativo {
    color: red;
}