.titulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
  }
  
.logo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
.logo img {
    width: 30%;
    height: auto;
  }
  
.subtitulo {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Chakra Petch', sans-serif;
  }
  