.home-container {
    text-align: center; 
  }
  
.home-container .title {
    margin-bottom: .5rem;
}
  
.home-container .subtitle {
    margin-bottom: 2rem;
    opacity: .5;
}
  
.Link.button { 
  width: fit-content;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #029595;
  border-radius: 25px;
  text-decoration: none;
  text-align: center !important;
  font-family: 'Chakra Petch', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Link.button:hover {
  background-color: #1c3c42;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 20%;
}

.titulo {
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3.5rem; /* Aumenta el tamaño de la fuente */
    color: #fff; /* Cambia el color a dorado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra para darle profundidad */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.titulo2 {
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem; 
}
